/*font family */
@import url('https://fonts.googleapis.com/css2?family=Dosis&display=swap');

/*code ressource*/
.bg-secondary {
    background-color: #0B0C0C !important;
}
/** footer */
.footer {
    background-color: black!important;
    position: relative;
}
.footer .footer-section {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.footer .copyright {
    padding: 20px 0 20px 0;
}
/* contnent container */
.content {
    position: relative;
}
/* some surcharges */
.bg-primary {
    background-color: #04BF37 !important;
}
nav {
    font-weight: 700;
}
.img-card {
    height: 18vw;
    object-fit: cover;
    position: relative;
}
